.Card {
  background-color: #ffffff;
  height: calc(75px * 1.75);
  width: 75px;
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .CardValue {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 18px;
  }
}
