* {
  box-sizing: border-box;
}
header {
  border: solid;
  background-color: pink;
  width: 100vw;
  height: 100px;
}

.card-container {
  width: 100vw;
  border: solid;
  background-color: rgb(99, 177, 99);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * {
    border: solid;
    height: 100px;
    background-color: rgb(248, 228, 136);
  }
}

.btn-container {
  display: flex;
  border: solid;
  width: 100vw;

  > .action-container {
    width: 70%;
    background-color: rgb(71, 71, 231);
    display: flex;
    justify-content: space-around;
  }

  > .bet-container {
    background-color: rgb(175, 24, 24);
    height: 100px;
    flex: 1;
  }
}
